*
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    font-weight: normal;
}

a
{
    text-decoration: none;
    color: #333333;
}

body
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: #6ba6e5;
    height: 100vh;
}

body > h1
{
    font-family: Prata;
    font-size: 5vw;
}

#text
{
    background-color: #e8eddf;
    width: 80%;
    border-radius: 0.25rem;
    padding: 0.75vw;
    font-family: Montserrat;
    font-size: 1.25vw;
}

img
{
    width: 3.5vw;
}

.link-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}



